.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: auto;
    width: 80%;
    padding: 15px;
}

.image-list img {
    width: 250px;
}

.spinner {
    text-align: center
}

.text {
    text-align: center;
    font-size: 30px;
}